.popup__button_action_close {
  width: calc((100vw - 320px) / (1280 - 320) * (32 - 20) + 20px);
  height: calc((100vw - 320px) / (1280 - 320) * (32 - 20) + 20px);
  background-image: url('../../../../images/popup/__button/_action/popup__button_action_close.svg');
  background-repeat: no-repeat;
  background-size: calc((100vw - 320px) / (1280 - 320) * (32 - 20) + 20px);
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
}

@media screen and (min-width: 1280px) {
  .popup__button_action_close {
    width: 32px;
    height: 32px;
    background-size: 32px;
  }
}
