.profile__name {
  margin: 0 0 -9px 0;
  font-size: calc((100vw - 320px) / (1280 - 320) * (42 - 27) + 27px);
  line-height: calc((100vw - 320px) / (1280 - 320) * (48 - 33) + 33px);
  font-weight: 500;
  grid-area: profile__name;
  align-self: end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(calc((100vw - 320px) / (1280 - 320) * (880 - 320) + 320px) - 120px - calc((100vw - 320px) / (1280 - 320) * (24 - 18) + 18px) - 30px - 150px - 2 * calc((100vw - 320px) / (1280 - 320) * (0 - 19) + 19px)); /* вычислить адаптивную максимальную ширину под имя (текущая_ширина_profile - ширина-аватара - текущая_ширина_кнопки_edit - зазор_между_edit_add - ширина_кнопки_add - 2 * значение_padding) */
  box-sizing: border-box;
  padding: 0 20px 0 30px; /* задать отступ слева до аватара, отступ справа до кнопки edit */
}

@media screen and (min-width: 1280px) {
  .profile__name {
    font-size: 42px;
    line-height: 48px;
    max-width: calc(880px - 120px - 24px - 30px - 150px); /* = 568px (текущая_ширина_profile - ширина-аватара - текущая_ширина_кнопки_edit - зазор_между_edit_add - ширина_кнопки_add) */
  }
}

@media screen and (max-width: 1024px) {
  .profile__name {
    max-width: calc(calc((100vw - 320px) / (1280 - 320) * (880 - 320) + 320px) - 120px - calc((100vw - 320px) / (1280 - 320) * (24 - 18) + 18px) - 18px - 2 * calc((100vw - 320px) / (1280 - 320) * (0 - 19) + 19px)); /* вычислить адаптивную максимальную ширину под имя (текущая_ширина_profile - ширина-аватара - текущая_ширина_кнопки_edit - зазор_между_edit_границей_profile - 2 * значение_padding) */
  }
}

@media screen and (max-width: 768px) {
  .profile__name {
    max-width: calc(calc((100vw - 320px) / (1280 - 320) * (880 - 320) + 320px) - calc((100vw - 320px) / (1280 - 320) * (24 - 18) + 18px) - 18px - 2 * calc((100vw - 320px) / (1280 - 320) * (0 - 19) + 19px)); /* вычислить адаптивную максимальную ширину под имя (текущая_ширина_profile - текущая_ширина_кнопки_edit - зазор_между_edit_границей_profile - 2 * значение_padding) */
    margin-top: 26px;
    padding: 0 11px 0 11px;
  }
}
