.profile__job {
  margin: 0;
  font-size: calc((100vw - 320px) / (1280 - 320) * (18 - 14) + 14px);
  line-height: calc((100vw - 320px) / (1280 - 320) * (22 - 17) + 17px);
  font-weight: normal;
  grid-area: profile__job;
  margin-top: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(calc((100vw - 320px) / (1280 - 320) * (880 - 320) + 320px) - 120px - calc((100vw - 320px) / (1280 - 320) * (24 - 18) + 18px) - 30px - 150px - 2 * calc((100vw - 320px) / (1280 - 320) * (0 - 19) + 19px)); /* вычислить адаптивную максимальную ширину под имя (текущая_ширина_profile - ширина-аватара - текущая_ширина_кнопки_edit - зазор_между_edit_add - ширина_кнопки_add - 2 * значение_padding) */
  box-sizing: border-box;
  padding: 1px 18px 0 30px;
}

@media screen and (min-width: 1280px) {
  .profile__job {
    background-size: 22px;
    font-size: 18px;
    line-height: 22px;
    max-width: calc(880px - 120px - 24px - 30px - 150px); /* = 568px (текущая_ширина_profile - ширина-аватара - текущая_ширина_кнопки_edit - зазор_между_edit_add - ширина_кнопки_add) */
  }
}

@media screen and (max-width: 1024px) {
  .profile__job {
    max-width: calc(calc((100vw - 320px) / (1280 - 320) * (880 - 320) + 320px) - 120px - calc((100vw - 320px) / (1280 - 320) * (24 - 18) + 18px) - 18px - 2 * calc((100vw - 320px) / (1280 - 320) * (0 - 19) + 19px)); /* вычислить адаптивную максимальную ширину под имя (текущая_ширина_profile - ширина-аватара - текущая_ширина_кнопки_edit - зазор_между_edit_границей_profile - 2 * значение_padding) */
  }
}

@media screen and (max-width: 768px) {
  .profile__job {
    max-width: calc(calc((100vw - 320px) / (1280 - 320) * (880 - 320) + 320px) - 2 * calc((100vw - 320px) / (1280 - 320) * (0 - 19) + 19px)); /* вычислить адаптивную максимальную ширину под профессию (текущая_ширина_profile - текущая_ширина_кнопки_edit - зазор_между_edit_границей_profile - 2 * значение_padding) */
    justify-self: center;
    padding: 0 20px 0 20px;
  }
}
