.profile__button_action_edit-avatar {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.profile__button_action_edit-avatar:hover {
  opacity: 1;
  background-image: url('../../../../images/profile/__button/_action/profile__button_action_edit-avatar.svg');
}
