.popup__button_position_card-delete-close {
  top: calc(-1 * ((100vw - 320px) / (1280 - 320) * (32 - 20) + 20px));
  right: calc(-1 * ((100vw - 320px) / (1280 - 320) * (32 - 20) + 20px));
}

@media screen and (min-width: 1280px) {
  .popup__button_position_card-delete-close {
    top: -32px;
    right: -32px;
  }
}
