.profile__avatar {
  position: relative;
  grid-area: profile__avatar;
  justify-self: center;
  width: 120px;
  height: 120px;
}

.profile__avatar::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity .3s ease;
}

.profile__avatar:hover::before {
  opacity: .8;
}
