.element__like {
  margin-bottom: 3px;
  width: 21px;
  height: 19px;
  background-image: url('../../../images/elements/__element/elements__element_like_disabled.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all ease .3s;
  flex-shrink: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.element__like:hover {
  cursor: pointer;
  opacity: .5;
}

.element__like:active {
  cursor: pointer;
  opacity: 1;
  background-image: url('../../../images/elements/__element/elements__element_like_active.svg');
  outline: none;
}

.element__like:focus {
  outline: none;
}

