.popup__input {
  width: 100%;
  margin: 0 0 18px;
  padding: 13px 0 9px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  outline: none;
}
