.popup__container_feat_avatar-update {
  padding: calc((100vw - 320px) / (1280 - 320) * (34 - 30) + 30px) calc((100vw - 320px) / (1280 - 320) * (36 - 20) + 20px) calc((100vw - 320px) / (1280 - 320) * (37 - 25) + 25px);
  width: calc((100vw - 320px) / (1280 - 320) * (430 - 240) + 240px);
  display: grid;
  grid-template-rows: repeat(3, min-content) 1fr;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .15);
}

@media screen and (min-width: 1280px) {
  .popup__container_feat_avatar-update {
    padding: 34px 36px 37px;
    width: 430px;
  }
}
