/* определение внешней геометрии и положения блока header */
.page__header {
  width: calc((100vw - 320px) / (1280 - 320) * (880 - 320) + 320px);
  margin: 0 auto calc((100vw - 320px) / (1280 - 320) * (40 - 42) + 42px);
  padding-top: calc((100vw - 320px) / (1280 - 320) * (45 - 28) + 28px);
}

@media screen and (min-width: 1280px) {
  .page__header {
    width: 880px;
    margin: 0 auto 40px;
    padding-top: 45px;
  }
}
