@import url("./vendor/normalize.css");

@import url("./fonts/fonts.css");

@import url("./blocks/root/root.css");

@import url("./blocks/page/page.css");
@import url("./blocks/page/__header/page__header.css");
@import url("./blocks/page/__profile/page__profile.css");
@import url("./blocks/page/__elements/page__elements.css");
@import url("./blocks/page/__footer/page__footer.css");

@import url("./blocks/header/header.css");
@import url("./blocks/header/__link/header__link.css");
@import url("./blocks/header/__logo/header__logo.css");

@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");
@import url("./blocks/profile/__avatar-img/profile__avatar-img.css");
@import url("./blocks/profile/__name/profile__name.css");
@import url("./blocks/profile/__job/profile__job.css");
@import url("./blocks/profile/__button/profile__button.css");
@import url("./blocks/profile/__button/_action/profile__button_action_edit.css");
@import url("./blocks/profile/__button/_action/profile__button_action_edit-avatar.css");
@import url("./blocks/profile/__button/_action/profile__button_action_add.css");

@import url("./blocks/elements/elements.css");
@import url("./blocks/elements/__grid/elements__grid.css");

@import url("./blocks/element/element.css");
@import url("./blocks/element/__figure/element__figure.css");
@import url("./blocks/element/__image/element__image.css");
@import url("./blocks/element/__caption/element__caption.css");
@import url("./blocks/element/__heading/element__heading.css");
@import url("./blocks/element/__like/element__like.css");
@import url("./blocks/element/__like-container/element__like-container.css");
@import url("./blocks/element/__like/_active/element__like_active.css");
@import url("./blocks/element/__like-number/element__like-number.css");
@import url("./blocks/element/__delete/element__delete.css");
@import url("./blocks/element/__delete/_hidden/element__delete_hidden.css");
@import url("./blocks/element/__delete/_visible/element__delete_visible.css");

@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");

@import url("./blocks/popup/popup.css");

@import url("./blocks/popup/_feat/popup_feat_image-fullsize.css");

@import url("./blocks/popup/_opened/popup_opened.css");

@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__container/_feat/popup__container_feat_avatar-update.css");
@import url("./blocks/popup/__container/_feat/popup__container_feat_profile-edit.css");
@import url("./blocks/popup/__container/_feat/popup__container_feat_card-add.css");
@import url("./blocks/popup/__container/_feat/popup__container_feat_card-delete.css");
@import url("./blocks/popup/__container/_feat/popup__container_feat_image-fullsize.css");

@import url("./blocks/popup/__image-fullsize/popup__image-fullsize.css");

@import url("./blocks/popup/__heading/popup__heading.css");
@import url("./blocks/popup/__heading/_feat/popup__heading_feat_avatar-update.css");
@import url("./blocks/popup/__heading/_feat/popup__heading_feat_profile-edit.css");
@import url("./blocks/popup/__heading/_feat/popup__heading_feat_card-add.css");
@import url("./blocks/popup/__heading/_feat/popup__heading_feat_card-delete.css");
@import url("./blocks/popup/__heading/_feat/popup__heading_feat_image-fullsize.css");

@import url("./blocks/popup/__field/popup__field.css");

@import url("./blocks/popup/__input/popup__input.css");
@import url("./blocks/popup/__input/_field/popup__input_field_job.css");
@import url("./blocks/popup/__input/_field/popup__input_field_place.css");
@import url("./blocks/popup/__input/_field/popup__input_field_link.css");
@import url("./blocks/popup/__input/_type/popup__input_type_error.css");

@import url("./blocks/popup/__input-error/popup__input-error.css");
@import url("./blocks/popup/__input-error/_active/popup__input-error_active.css");

@import url("./blocks/popup/__button/popup__button.css");
@import url("./blocks/popup/__button/_action/popup__button_action_close.css");
@import url("./blocks/popup/__button/_action/popup__button_action_submit.css");
@import url("./blocks/popup/__button/_position/popup__button_position_avatar-update-close.css");
@import url("./blocks/popup/__button/_position/popup__button_position_profile-edit-close.css");
@import url("./blocks/popup/__button/_position/popup__button_position_card-add-close.css");
@import url("./blocks/popup/__button/_position/popup__button_position_card-delete-close.css");
@import url("./blocks/popup/__button/_position/popup__button_position_image-fullsize-close.css");
@import url("./blocks/popup/__button/_disabled/popup__button_disabled.css");
