.header {
  box-sizing: border-box;
  border-bottom: solid 1px rgba(84, 84, 84, .7);
  padding-bottom: calc((100vw - 320px) / (1280 - 320) * (37 - 27.6) + 27.6px);
}

@media screen and (min-width: 1280px) {
  .header {
    padding-bottom: 37px;
  }
}
